{% set IS_HALF_STAR = data.IS_HALF_STAR %}
{% set MAX_STARS = data.MAX_STARS %}
{% set progress_bar = data.progress_bar %}
{% set nbStars = data.nbStars|round(0,'floor') %}
{% set extraTextValue = data.extra_text.value %}

{% if IS_HALF_STAR %}
  {% set MAX_STARS = MAX_STARS -1 %}
{% endif %}

<div class="container-fluid mx-5 my-4 card card-block">
  <div class="row ">
    <div class="col-xs-12 col-md-6 bg-light">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <div class="">
            <div class="mx-auto">
              {{ data.rating_form }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 py-5">

      <div class="stars">
        {% if 1<=nbStars %}
          {% for i in range(1,nbStars) %}
            {{ data.icons.star.full|raw }}
          {% endfor %}
        {% endif %}

        {% if IS_HALF_STAR %}
          {{ data.icons.star.half|raw }}
        {% endif %}

        {% if nbStars<MAX_STARS %}
          {% for i in range(nbStars+1,MAX_STARS) %}
            {{ data.icons.star.empty|raw }}
          {% endfor %}
        {% endif %}

      </div>

      {% if progress_bar %}
        {% set bg_color = progress_bar.bg_color %}
        {% if bg_color.primary %}
          {% set PrimaryBgColorCss = 'background-color:'~bg_color.primary~';' %}
        {% endif %}
        {% if bg_color.secondary %}
          {% set SecondaryBgColorCss = 'background-color:'~bg_color.secondary~';' %}
        {% endif %}
        {{ data.count }}
        <small> {{ 'Votes'|t }}</small>
        <p>
        <div class="progress" style="height: 1px;margin-bottom:5px;{{ SecondaryBgColorCss }}">
          <div class="progress-bar" role="progressbar"
               style="width: {{ progress_bar.avg }}%;{{ PrimaryBgColorCss }}"
               aria-valuenow="{{ progress_bar.avg }}"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress" style="height: 20px;{{ SecondaryBgColorCss }}">
          <div class="progress-bar" role="progressbar"
               style="width: {{ progress_bar.avg }}%;{{ PrimaryBgColorCss }}"
               aria-valuenow="{{ progress_bar.avg }}"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </p>
      {% endif %}
      <strong>
        {{ data.nbStars|round(2,'ceil') }} / {{ data.MAX_STARS }}
        ({{ progress_bar.avg }}%)
      </strong>
    </div>
  </div>
</div>
{% if extraTextValue %}
  <div class="container-fluid mx-5 my-4 py-2 card card-block">
    <div class="row">
      <div class="col">
        {{ extraTextValue|raw }}
      </div>
    </div>
  </div>
{% endif %}